<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Detalle de Ordenes</h1>
   
</div>


 <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Pendiente">
<div style="background-color: rgb(125, 165, 162);border-color: blanchedalmond; border-style: solid;" *ngFor="let item of lts2.data">
     
  
    <table> 
       <ng-container>
         <tr>
           <tbody>
             
           <th>Orden</th>
           <th colspan="2">{{item.ordenes}}</th>
           &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
           <th>
            
              <button style="float: right; background-color: chartreuse;" mat-flat-button aria-label="En Proceso" (click)="UpdateProceso(item)">
                      
                <mat-icon>arrow_right</mat-icon>
                En Proceso 
              </button>
            
      
           </th>
          </tbody>
         </tr>
        
         <tr *ngFor="let value of item.objects" >
           <tbody>
           <td>{{value.producto}}</td>
           <td>{{value.cantidad}}</td>
          </tbody>
         </tr>
        <tr>
         <tbody>
          &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
         <th>
          <button style="float: right; background-color:darkred " mat-flat-button aria-label="Cancelar" (click)="UpdateCancelada(item)">
              
            <mat-icon>delete</mat-icon>
            Cancelar 
          </button>
         </th>
         </tbody>
        </tr>
       </ng-container>
    </table>
   
  </div>
           
    </mat-tab>
    <mat-tab label="En Proceso">
   
      <div style="background-color: rgb(125, 165, 162); border-color: blanchedalmond; border-style: solid;" *ngFor="let item of lts3.data">
        
        <table>
           <ng-container>
             <tr>
               <tbody>
               <th>Orden</th>
               <th colspan="2">{{item.ordenes}}</th>
               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
               <th>
            
                <button style="float: right; background-color: chartreuse;" mat-flat-button aria-label="Completada" (click)="UpdateCompletada(item)">
                        
                  <mat-icon>arrow_right</mat-icon>
                  Completada
                </button>
              
        
             </th>
              </tbody>
             </tr>
            
             <tr *ngFor="let value of item.objects" >
               <tbody>
               <td>{{value.producto}}</td>
               <td>{{value.cantidad}}</td>
              </tbody>
             </tr>
             <tr>
              <tbody>
               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
              <th>
               <button style="float: right; background-color:darkred " mat-flat-button aria-label="Cancelar" (click)="UpdateCancelada(item)" >
                   
                 <mat-icon>delete</mat-icon>
                 Cancelar 
               </button>
              </th>
              </tbody>
             </tr>
           </ng-container>
        </table>
       
      </div>
    </mat-tab>
    <mat-tab label="Completada">
      &nbsp;
      <div style="background-color: rgb(125, 165, 162);border-color: blanchedalmond; border-style: solid;" *ngFor="let item of lts.data">
        
        <table>
           <ng-container>
             <tr>
               <tbody>
               <th>Orden</th>
               <th colspan="2">{{item.ordenes}}</th>
               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
               <th>
            
                <button style="float: right; background-color: chartreuse;" mat-flat-button aria-label="Entregada" (click)="UpdateEntregada(item)">
                        
                  <mat-icon>arrow_right</mat-icon>
                  Entregada
                </button>
              
        
             </th>
              </tbody>
             </tr>
            
             <tr *ngFor="let value of item.objects" >
               <tbody>
               <td>{{value.producto}}</td>
               <td>{{value.cantidad}}</td>
              </tbody>
             </tr>
             <tr>
              <tbody>
               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              <th>
               <button style="float: right; background-color:darkred " mat-flat-button aria-label="Cancelar" (click)="UpdateCancelada(item)">
                   
                 <mat-icon>delete</mat-icon>
                 Cancelar 
               </button>
              </th>
              </tbody>
             </tr>
           </ng-container>
        </table>
       
      </div>
    </mat-tab>
    <mat-tab label="Entregada">
      &nbsp;
      <div style="background-color: rgb(125, 165, 162);border-color: blanchedalmond; border-style: solid;" *ngFor="let item of lts4.data">
        
        <table>
           <ng-container>
             <tr>
               <tbody>
               <th>Orden</th>
               <th colspan="2">{{item.ordenes}}</th>
              
              </tbody>
             </tr>
            
             <tr *ngFor="let value of item.objects" >
               <tbody>
               <td>{{value.producto}}</td>
               <td>{{value.cantidad}}</td>
              </tbody>
             </tr>
             <tr>
              <tbody>
               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
              <th>
               <button style="float: right; background-color:darkred " mat-flat-button aria-label="Cancelar" (click)="UpdateCancelada(item)" >
                   
                 <mat-icon>delete</mat-icon>
                 Cancelar 
               </button>
              </th>
              </tbody>
             </tr>
           </ng-container>
        </table>
       
      </div>
    </mat-tab>
    <mat-tab label="Cancelada">
      &nbsp;
      <div style="background-color: rgb(125, 165, 162);border-color: blanchedalmond; border-style: solid;" *ngFor="let item of lts5.data">
       
        <table>
           <ng-container>
             <tr>
               <tbody>
               <th>Orden</th>
               <th colspan="2">{{item.ordenes}}</th>
              
              </tbody>
             </tr>
            
             <tr *ngFor="let value of item.objects" >
               <tbody>
               <td>{{value.producto}}</td>
               <td>{{value.cantidad}}</td>
              </tbody>
             </tr>
            
           </ng-container>
        </table>
        
      </div>
    </mat-tab>
  </mat-tab-group> 
  
